body {
  font-size: 20px;
}
#About {
  color: white;
  background-color: #6E6E6E;
}
#Education {
  color: yellow;
  background-color: black;
}
#Work {
  color: yellow;
  background-color: #6e6e6e;
}
#Proj {
  color: white;
  background-color: black;
}
#Service {
  color: powderblue;
  background-color: #6E6E6E;
}
#Contact {
  color: powderblue;
  background-color: black;
}
