#About {
  color: white;
  background-color: #6E6E6E;
}
#Education {
  color: yellow;
  background-color: black;
}
#Work {
  background-color: #6e6e6e;
}
#Proj {
  background-color: black;
}
#Service {
  background-color: #6E6E6E;
}
#Contact {
  background-color: black;
}
