body {
    background-color: #6E6E6E;
}

#About {
    background-color: #6E6E6E;
}
#Education {
  background-color: white;
}
#Work {
  background-color: #6e6e6e;
}
#Proj {
  background-color: white;
}
#Service {

}
#Contact {

}
